body {
    background: $color-white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}