@mixin button ($color) {
    text-align: center;
    color: $color;
    display: inline-block;
    border: 1px solid $color;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    transition: .15s;
    &:active {
        transform: scale(0.95)
    }
}

@mixin text-regular {
    font-size: 14px;
    line-height: 1.5;
    color: $color-text;
}

@mixin section-header {
    font-size: 35px;
    color: $color-blue;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 2px;
        width: 64px;
        background: $color-blue;
    }
}