section.main {
    height: 100vh;
    background-image: url("../img/main.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    .arrow-left,
    .arrow-right {
        position: absolute;
        top: 60%;
        color: $color-white;
        border: 2px solid $color-white;
        font-size: 40px;
        padding: 15px 20px;
        cursor: pointer;
        user-select: none;
        transition: .2s;
        &:active {
            transform: scale(0.95);
        }
    }
    .arrow-left {
        left: 40px;
    }
    .arrow-right {
        right: 40px;
    }
    .title {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: auto;
    }
    h1 {
        text-transform: uppercase;
        font-size: 30px;
    }
    p {
        width: 36%;
        margin: 30px auto;
        @include text-regular();
    }
    .button-info {
        @include button($color-white);
    }
}

section.features {
    background: $color-shadow;
    padding: 50px 0;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wrapper {
        width: 30%;
        margin-bottom: 20px;
    }
    .fa {
        font-size: 40px;
    }
    h2 {
        color: $color-blue;
        font-size: 24px;
        text-transform: uppercase;
    }
    p {
        @include text-regular;
    }
}

section.recent-projects {
    padding-top: 60px;
    padding-bottom: 30px;
    h2 {
        @include section-header();
    }
    .slider-box {
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
    }
    .slide {
        width: 30%;
    }
    img {
        width: 100%;
        cursor: pointer;
    }
    .navigation {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .fa {
            color: $color-shadow;
            background: $color-blue;
            padding: 4px 8px;
            margin-left: 4px;
            cursor: pointer;
        }
    }
}

section.counters {
    background: $color-blue;
    .container {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-shadow;
        .wrapper {
            width: 25%;
        }
        h2 {
            position: relative;
            font-size: 50px;
            font-weight: 700;
            color: $color-shadow;
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                left: 50%;
                translate: transformX(-50%);
                bottom: -10px;
                height: 2px;
                width: 30px;
                background: $color-shadow;
            }
        }
        h3 {
            color: $color-shadow;
            margin-top: 20px;
        }
    }
}